body {
    font-family: 'Press Start 2P', monospace;
    background-color: #080808;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}
h1 {
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #ffdb58;
    text-shadow: 0 0 8px rgba(255, 219, 88, 0.8);
}
#timer {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
    letter-spacing: 0.1em;
    text-shadow: 0 0 5px #fff;
    border: 2px solid #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
#timer-controls {
    display: flex;
    margin-bottom: 1rem;
}
#timer-controls button {
    font-family: 'Press Start 2P', monospace;
    font-size: 0.8rem;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#timer-controls button:hover {
    background-color: #367c39;
}
#timer-controls button:disabled {
    background-color: #808080;
    cursor: not-allowed;
    opacity: 0.6;
    box-shadow: none;
}
#killer-info {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
}
.killer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}
.killer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.killer-icon {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #ddd;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #ffff00;
    text-shadow: 0 0 5px #ED1A3D;
}
.killer-icon:hover {
    transform: scale(1.1);
}
.perk-icons {
    display: flex;
    margin-top: 0.5rem;
    gap: 0.25rem; /* パークアイコン間の間隔を設定 */
}
.perk-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10%;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    display: flex; /* imgタグを中央に配置するため */
    justify-content: center;
    align-items: center;
    overflow: hidden; /* imgタグがはみ出さないように */
}
.perk-icon:hover {
    transform: scale(1.2);
}
.perk-icon.active {
    background-color: #ffdb58;
    box-shadow: 0 0 10px rgba(255, 219, 88, 0.8);
}
.perk-icon img{
    width: 100%;  /* 画像のサイズを.perk-iconに合わせる */
    height: 100%;
    object-fit: cover; /* 画像の表示方法を指定 (cover, contain, fill など) */
}
#reset-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
}
#reset-buttons button {
    font-family: 'Press Start 2P', monospace;
    font-size: 0.7rem;
    background-color: #e64a43;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 80%;
    max-width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#reset-buttons button:hover {
    background-color: #b83228;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    z-index: 10;
    text-align: center;
    width: 80%;
    max-width: 300px;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.popup button {
    margin-top: 0.5rem;
    padding: 0.3rem 0.6rem;
    font-size: 0.7rem;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}
